header#header {
    padding-block: 1.25rem;
    display: flex;
    justify-content: space-between;

    & a {
        position: relative;
        & span {
            display: inline-block;
            width: 1.25rem;
            height: 1.25rem;
            border-radius: 50%;
            background-color: var(--snitap-sun);

            display: flex;
            align-items: center;
            justify-content: center;

            font: var(--fw-medium) .75rem/1.3 var(--ff-inter);
            position: absolute;
            right: -8px;
            top: -10px;
        }

        & img {
            width: 2rem;
            height: 2rem;
            object-fit: cover;

            transition: 500ms linear;
        }

        & img[src*="logo"]:hover {
            rotate: 90deg;
        }

        & img[src*="shopping"]:hover {
            rotate: -26deg;
        }
    }
}