.px-lg {
    padding-inline: var(--px-lg);
}
.container {
    --max-width: 360px;
    width: min(var(--max-width), 100% - var(--px-lg) * 2);
    margin-inline: auto;
}

@media (width >= 80em) {
    .container {
        --max-width: 80em;
    }
}